body {
	background-color: #00001C;
	color: #A1A1AF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 10pt;
	text-align: left;
	margin: 0px;
	padding: 5px 20px;
}
table.msg_page {
	width: 100%;
}
table.msg_page th {
	text-align: left;
	font-weight: bold;
	width: 0px;
	background-color: #1D2344;
	border-left: 2px solid #1D2344;
	border-bottom: 2px solid #00001C;
}
table.msg_page td {
	border-bottom: 2px solid #1D2344;
	border-right: 10px solid #1D2344;
}
table.msg_page tr.first th,
table.msg_page tr.first td {
	border-top: 2px solid #1D2344;
}
table.msg_page tr.last th,
table.msg_page tr.last td {
	border-bottom: 2px solid #1D2344;
}
#msg_body {
	padding: 10px;
}
input, textarea {
	width: 100%;
}
a {
	color: #D0D1D9;
	text-decoration: none;
}
a:hover {
	color: #E5E5FF;
	text-decoration: underline;
}
#wrapper {
	width: 600px;
}
.h1 {
	font-size: 18pt;
	font-weight: bold;
}
.h2 {
	font-size: 14pt;
	font-weight: bold;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.clrb {
	clear: both;
}
.nope {
	display: none;
}
.m0p0 {
	margin: 0px !important;
	padding: 0px !important;
}
.send_msg {
	width: 450px !important;
}
table.menu,
table.dispmenu,
table.minimenu {
	float: left;
	width: 280px;
}
table.menu div.left,
table.dispmenu div.left,
table.minimenu div.left {
	float: left;
}
table.menu div.right,
table.dispmenu div.right,
table.minimenu div.right {
	float: right;
}
table.menu tr th,
table.dispmenu tr th,
table.minimenu tr th {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid #A1A1AF;
	padding-bottom: 5px;
	text-align: center;
}
table.dispmenu tr td a,
table.menu tr td a {
	background-color: #00001C;
	color: #A1A1AF;
	text-decoration: none;
}
table.menu tr.title td,
table.dispmenu tr.title td,
table.minimenu tr.title td {
	padding-bottom: 10px;
	border-bottom: 2px solid #A1A1AF;
	text-align: center;
}
table.menu tr.middle td,
table.dispmenu tr.middle td,
table.minimenu tr.middle td {
	border-left: 2px solid #A1A1AF;
	border-right: 2px solid #A1A1AF;
}
table.menu tr.middle td a,
table.dispmenu tr.middle td a,
table.minimenu tr.middle td a {
	display: block;
	padding: 5px;
	font-weight: bold;
}
table.dispmenu tr.middle td a:hover,
table.menu tr.middle td a:hover {
	background-color: #A1A1AF;
	color: #00001C;
}
table.menu tr.hr td,
table.dispmenu tr.hr td,
table.minimenu tr.hr td {
	height: 2px;
}
table.menu tr.bottom,
table.dispmenu tr.bottom,
table.minimenu tr.bottom {
	overflow: hidden;
	height: 2px;
}
table.menu tr.topsep td,
table.dispmenu tr.topsep td,
table.minimenu tr.topsep td {
	border-top: 2px solid #A1A1AF;
}
table.menu tr.bottom td,
table.dispmenu tr.bottom td,
table.minimenu tr.bottom td {
	border-bottom: 2px solid #A1A1AF;
}
table.dispmenu div.left {
	font-weight: bold;
	padding: 5px;
}
table.dispmenu div.right {
	padding: 5px;
}
table.input_form {
	width: 575px;
}
table.input_form th {
	width: 0px;
	padding-right: 10px;
	vertical-align: top;
	padding-top: 5px;
}
table.input_form td input,
table.input_form td select {
	background-color: #00001C;
	color: #A1A1AF;
	border: 2px solid #A1A1AF;
	margin: 2px;
	padding: 2px;
	width: 100%;
}
table.input_form td input.normal {
	width: 200px;
}
table.input_form td textarea {
	background-color: #00001C;
	color: #A1A1AF;
	border: 2px solid #A1A1AF;
	margin: 2px;
	padding: 2px;
	height: 300px;
}
table.message_list {
	width: 500px;
}
table.message_list tr:hover {
	background-color: #1D2344;
}
table.message_list tr td.right {
	padding-left: 2px;
	text-align: left !important;
	padding-right: 0px !important;
}
table.message_list tr td {
	padding-right: 2px;
	text-align: right;
}
table.message_list tr td.center {
	text-align: center !important;
}
table.message_list tr.region th {
	padding: 5px 0px;
}
table.message_list tr.sector th {
	padding: 5px 0px 5px 50px;
}
table.message_list tr.rmessage th {
	padding: 5px 0px 5px 25px;
}
table.message_list tr.message th {
	padding: 5px 0px 5px 100px;
}
